/* STOLEN FROM https://github.com/gertperdZA/MMM-Afvalwijzer/blob/main/MMM-Afvalwijzer.css */

.MMM-TwenteMilieuAfvalwijzer .binday-container {
    line-height: 1.50;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #222;
    position: relative;
    text-align: left
}

.MMM-TwenteMilieuAfvalwijzer .binday-container .binday-date {
    color: #fff;
    padding-right: 24px;
}

.MMM-TwenteMilieuAfvalwijzer  .binday-container .binday-icon-container {
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 6px;
    line-height: 24px;
}

.MMM-TwenteMilieuAfvalwijzer .binday-container .binday-icon-container .binday-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: bottom;
    display: inline;
    position: relative;
    margin-left: 4px;
}

.MMM-TwenteMilieuAfvalwijzer header {
    opacity: 0.266667;
}

.binday-container:nth-of-type(1) {
    opacity: 0.366667;
}

.binday-container:nth-of-type(2) {
    opacity: 0.533333;
}

.binday-container:nth-of-type(3) {
    opacity: 0.8;
}